* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    height: 100%;
}

header{
    background-color: #ab7171;
    padding: 20px;
    font-size: 35px;
    text-align: center
}

nav {
    background-color : #ded3a5;
    float: left;
    width: 200px;
    padding-top: 2%;
    padding-left: 0%;
    font-size: 20px;
    height: 105%;
  }

section {
    padding-top: 0px;
    padding-left: 220px;
    height: 100%;
    

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }
}

body{
    background-color : #FFF8DC;
}

