<!DOCTYPE html>
<html lang="en-US">

    <head>
        <title>PT family</title>
        <link rel="stylesheet" href="../static/css/pt.css">
    </head>

    <body>
        <header>
            <h1>Welcome to PT family</h1>
        </header>
            <nav>
                <ul>
                    <li><a href = "/PT_family/Puntang">Puntang</a></li>
                    <li><a href = "/PT_family/Puntao">Puntao</a></li>
                    <li><a href = "/PT_family/Pontan">Pontan</a></li>
                </ul>
            </nav>
            <section>
                <h2>Hello from PT family</h2>
                <p>This is the main page for PT family</p>
                <img src="../static/images/PT_family.jpg" style="width: 50%; height: auto;" alt="PT_family">

            </section>
    </body>
</html>